<div class="errorcontent text-center row justify-content-center align-item-center align-content-center" *ngIf=" loginerror&&show">
    <div class="err">
      <div class="close" (click)="onClose()" #clo>&#10006;</div>
      <p>{{loginerror}}</p>
      <a class=" btn btn-primary"  routerLink="/Student/login" >Login</a>
  
    </div>
  </div>
  
  <form  #inform="ngForm">
      <div class="row justify-content-center ">
          <div class=" ms-3">
              <div class="row mt-3 mb-3 ">
                  <button class="col-md-3 btn btn-success mt-2 mb-2 me-2" type="submit" [disabled]="!inform.valid" (click)="onSubmit()">Save</button>
                  <button class="col-md-3 btn btn-primary mt-2 mb-2 ms-2" type="button" (click)="onDelete()" >Delete </button>
                  <button class="col-md-3 btn btn-danger mt-2 mb-2 ms-2" type="button" (click)="onCancel()">Cancel </button>
              </div>
              <div class="m-3 row justify-content-around">
                  <div class="col-md-5 ">
                      <label for="name" class=" mb-2 ms-2" >Name</label>
                      <input type="text"  id="name" class="ms-2 form-control" name="name" required  [(ngModel)]="category.name" >
                  </div >
                  <div class="col-md-5">
                      <label for="lastName" class=" mb-2 ms-2" >DisOrder</label>
                      <input type="text"  id="lastName" class="ms-2 form-control" name="lastName"  [(ngModel)]="category.disorder" >
                  </div >
                 
                  <div class="col-md-5 mb-2">
                      <div class="proimg" >
                          <img [src]="profileimg" alt="" width="100%" style="height: 200px;">
                      </div>
                      <input hidden type="file" (change)="uploadImage($event)"  id="imgFileUrl" class="ms-2 form-control"  #im >
                      <button class="btn btn-primary mt-4 mb-4" (click)="im.click()">Change img</button>
                  </div >
              </div>
       </div>
       </div>
   </form>