<div *ngIf="(basket$|async )==null">
  <p class="text-primary">there no items in basket</p>
</div>
<div class="container col-lg-10 mb-5" *ngIf="basket$|async as basket">
 <form >

  <div *ngFor="let cart of (basket$|async).items " >
    <div class="details row mt-4 justify-content-between mb-5 align-items-center">
      <div class="image col-12 col-sm-9 col-lg-3 col-md-4 row justify-content-center">
        <img [src]="path+cart.imageUrl" class=" img-fluid  col-7 col-sm-6 col-md-10" style="height: 80px;" alt="...">
        <div class="det p-4  text-md-start ms-4  text-center">
            <h4 class="text-primary mb-3">{{cart.title}}</h4>
        </div>
       </div>
       <div class="product mb-3 col-10 col-sm-3 col-lg-3 row justify-content-between d-flex align-items-center">
        <span class="text-primary col-2" style="font-size: 16px;">{{cart.price*cart.count}}</span>
        <span class="text-primary col-2" style="font-size: 16px;">{{cart.count}}</span>
      </div>
        </div>
  </div>
  
 </form>
</div>
<div class="d-flex justify-content-between mb-4 ">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
      <i class="bi bi-caret-left"></i>
  Go TO Delievery
  </button>
  <button class="btn btn-primary" (click)="createPaymentIntend()">
     <i class="bi bi-caret-right"></i>Go TO Payment
  </button>
</div>
